extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h3: a(href='/article/' + post.slug)= post.title
		p.text-muted.text-left
			if post.publishedDate
				if post.categories.type=='文档分类'
					| #{post._.publishedDate.format('YYYY年M月D日')}
		p!= post.content.brief

mixin coverpost(post)
	.coverpost.col-md-6
		a(href='/files/'+post.file.filename)
			img(src='/files/images/'+post.image.filename)
			.words!=post.content.brief
			.caption
				|下载：#{post.title}

block intro
	.container
		h1.colortitle-aligned= data.category ? data.category.name : '协同创新中心日志页'

block content
	.container: .row
		.col-sm-8.col-md-9.aligned
			if filters.category && !data.category
				h3.text-muted 无效的类别.
			else
				if data.category&&data.category.type==='封面下载'
					.blog
						each post in data.posts.results
							+coverpost(post)
					
				else	
					if data.category&&data.category.type==='单独页面'
						!= data.category.detail
						
					if data.posts.results.length
						.blog
							each post in data.posts.results
								+post(post)
	
						if data.posts.totalPages > 1
							ul.pagination
								if data.posts.previous
									li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.posts.pages
									li(class=data.posts.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
								if data.posts.next
									li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
					else
						if data.category.type!=='单独页面'
							if data.category
								h3.text-muted 在#{data.category.name}里还没有文章。
							else
								h3.text-muted 还没有任何文章。
		
		if data.categories.length
			.col-sm-4.col-md-3
				.list-group(style='margin-top: 20px;')
					a(href='/category', class=!data.category ? 'active' : false).list-group-item 所有
					each cat in data.categories
						a(href='/category/' + cat.name, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
