extends ../layouts/default

block intro
	.container
		h1.colortitle 联系我们
		
block content
	.container
		.col-sm-8.col-md-6
			h3 联系方式
			p
				b 校区:
				|嘉定校区
			p
				b 地址:
				|上海市曹安公路4800号智信楼
			p
				b 电话:
				|（86）21-69583792
			p
				b 邮编:
				|201804
			p
				b E-mail:
				|zhagnxi1129@tongji.edu.cn
			h3 交通指南
			p 浦东机场出发：地铁2号线至江苏路换乘地铁11号线，至上海汽车城换乘陆安专线（北安线、安亭4路）至曹安公路绿苑路站。
			p 虹桥机场出发：地铁2号线至江苏路换乘地铁11号线，至上海汽车城换乘陆安专线（北安线、安亭4路）至曹安公路绿苑路站。
			p 上海火车站出发：地铁3号线或4号线至曹杨路站换乘地铁11号线，至上海汽车城换乘陆安专线（北安线、安亭4路）至曹安公路绿苑路站。
			p 上海南站出发：地铁3号线至曹杨路站换乘地铁11号线，至上海汽车城换乘陆安专线（北安线、安亭4路）至曹安公路绿苑路站。



		if enquirySubmitted
			h3 感谢您的留言。
		else
			.col-sm-8.col-md-6
				h3 给我们留言
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						label 姓名
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label 邮箱
						input(type='email', name='email', value=formData.email).form-control
					.form-group
						label 手机
						input(type='text', name='phone', value=formData.phone, placeholder='（选填）').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						label 您希望和我们联系什么?
						select(name='enquiryType').form-control
							option(value='') （选择一项）
							each type in enquiryTypes
								option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label 留言
						textarea(name='message', placeholder='给我们留条消息...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-primary 发送
