extends ../layouts/default
mixin post(post)
	div.postlist
		a.limitwidth.pull-left(href='/article/' + post.slug)= post.title
		if post.publishedDate
			p.pull-right.text-muted #{post._.publishedDate.format('YYYY-MM-DD')}


block content
	.container.index
		.col-md-7
			h2.colortitle
				a(href='/gallery') 中心图片
			.gridimages.clearfix
				- for(var i=0;i<data.galleries.length;i=i+3){
					.col-md-12
						a(href=data.galleries[i].heroImage.url): .image
							img(src=data.galleries[i].heroImage.url)
							p #{data.galleries[i].name}
					if data.galleries[i+1]
						if data.galleries[i+2]
							if i%2===0
								.col-md-7
									a(href=data.galleries[i+1].heroImage.url): .image
										img(src=data.galleries[i+1]._.heroImage.limit(999,240))
										p #{data.galleries[i+1].name}
								.col-md-5
									a(href=data.galleries[i+2].heroImage.url): .image
										img(src=data.galleries[i+2]._.heroImage.limit(370,240))
										p #{data.galleries[i+2].name}
							else
								.col-md-5
									a(href=data.galleries[i+1].heroImage.url): .image
										img(src=data.galleries[i+1]._.heroImage.limit(999,240))
										p #{data.galleries[i+1].name}
								.col-md-7
									a(href=data.galleries[i+2].heroImage.url): .image
										img(src=data.galleries[i+2]._.heroImage.limit(370,240))
										p #{data.galleries[i+2].name}
						else
							.col-md-12
								a(href=data.galleries[i+1].heroImage.url): .image
									img(src=data.galleries[i+1].heroImage.url)
									p #{data.galleries[i+1].name}

				-}
			//	if datagallery.heroImage.exists
			//		.col-sm-4.col-md-4.gallery-image: img(src=gallery._.heroImage.limit(680,680)).img-rounded
			//		.col-sm-8.col-md-8: .row
			//			each image in gallery.images
			//				.col-xs-4.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300)).img-rounded
		.col-md-5
			each cat in data.categories
				h2.colortitle
					a(href='/category/'+cat.name) #{cat.name}
				if(!cat.briefPosts.length)
					p.text-muted 暂无内容
				else
					each post in cat.briefPosts
						+post(post)
