extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			if !data.post
				h2 无效的文章
			else
				if data.post.categories
					p: a(href='/category/'+data.post.categories.name) &larr; #{data.post.categories.name}
					hr

				header.clearfix
					h1.xlarge= data.post.title
					h3.lead.text-muted.text-right
						if data.post.publishedDate
							| 发表于#{data.post._.publishedDate.format('YYYY年M月D日')}
				.post
					!= data.post.content.full
				if(data.post.file.exists)
					hr
					p
						b 附件：
						span #{data.post.file.filename}
					p
						b 大小：
						span #{(data.post.file.size/1024).toFixed(2)}kb
					a(class='btn btn-primary',href='/files/'+data.post.file.filename) 下载
	#back
		span.totop(onclick='javascript:scrollTo(0,0)') 回到顶部
		a(href='/category/'+data.post.categories.name) 返回列表
